// variables
// Customise bootstrap here, and set site-wide variables. Refer to
// https://github.com/twbs/bootstrap/blob/master/scss/_variables.scss
// for things to override.

// Set the primarys colour to green. 2c467c
$default-green: #28a745 !default;
$link-blue:     #0b448e !default;
$image-blue:    #0B57B9 !default;
$primary: link-blue !default;
